<div class="jumbotron">
  <h1>Крестьянова Марина</h1>
   <h2 class='muted'>Координатор помощи Шуйскому детскому дому-интернату для умственно отсталых детей</h2>
  <div class='row-fluid info'>
    <div class='span4'>
      <img src='/public/img/iso.jpg' class='img-polaroid'>
    </div>

    <div class='span8'>

      <p>
        Я являлась координатором помощи Шуйскому детскому дому-интернату для детей-инвалидов с 2007 по 2012 гг. С волонтерами и благотворителями мы помогали администрации детского учреждения делать жизнь детей ярче и радостнее.
        
      </p>
      
          <p>
      По поводу актуальной помощи ДДИ в текущем году вы можете обратиться
      напрямую к администрации учреждения или координатору волонтеров Юлии
      Курочкиной.
    </p>
    </div>
  </div>
</div>

