<div class="jumbotron">
  <h1>Крестьянова Марина</h1>
   <h2 class='muted'>Координатор помощи Шуйскому детскому дому-интернату для умственно отсталых детей</h2>
  <div class='row-fluid info'>
    <div class='span4'>
      <img src='/public/img/iso.jpg' class='img-polaroid'>
    </div>

    <div class='span8'>

      <p>
        Я являлась координатором помощи Шуйскому детскому дому-интернату для детей-инвалидов с 2007 по 2012 гг. С волонтерами и благотворителями мы помогали администрации детского учреждения делать жизнь детей ярче и радостнее.
        
      </p>
        <p>
       Со мной можно связаться:
        
      </p> <p>
        <img src="/public/img/email.png" style="position: relative;" width="16" height="16">
        <a href="mailto:terra2786@yandex.ru">terra2786@yandex.ru</a> 
      </p>
      <p>
        <img src="/public/img/phone.png" style="position: relative; top: -2px;" width="16" height="16">
        +7 916 812-22-59 (с 9 до 21 ч. по Москве)
      </p>
          <p>
      По поводу актуальной помощи ДДИ в текущем году вы можете обратиться
      напрямую к администрации учреждения или координатору волонтеров Юлии
      Курочкиной.
    </p>
    </div>
  </div>
</div>

